name: Publish WASM release

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Download artifact
      id: download-artifact
      uses: dawidd6/action-download-artifact@v2
      with:
        github_token: ${{secrets.MORTBOPET_GITHUB_IO_READ_TOKEN}}
        workflow: wasm-release.yml
        branch: master
        name: Release_wasm
        repo: mortbopet/Ripes

    - name: Commit and push if changed
      run: |
        # Check if files have changed
        DIFF=$(git diff --name-only)

        if [ "$DIFF" != "" ]; then
          echo "Changes to wasm release detected, pushing..."
          git config --global user.email "CI@github.com"
          git config --global user.name "CI"
          git add Ripes.js qtloader.js Ripes.wasm Ripes.worker.js
          git commit -m "Update wasm release"
          git push
        else
          echo "No changes to wasm release"
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.MORTBOPET_GITHUB_IO_WRITE_TOKEN }}
